/*--- FILE BASE CSS CON REGOLE PER NAVBAR E FOOTER---*/

body{
    margin: 0;  /*tolgo il bordo attorno*/
    background-color: #39201Eff;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;   
}

/*navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1; /*sopra l'overlay*/
}

#div_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 120px; /* Aumenta la dimensione massima, senza spostare la navbar */
    width: auto;       /* Mantieni le proporzioni corrette */ 
}

#div_login{
    display: flex;
    justify-content: right;
    align-items: center;
}

#div_login:hover{
    cursor: pointer;
}

/*icona login*/
#icona_login{
    color:#E2AD78ff;
    margin-right:20px;
    font-size:40px;
}

/*link con bordo arrotondato*/
#div_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2AD78ff;
    border-radius: 50px;
    margin-top: 20px;
}

/*stile dei singoli link*/
#div_link a {
    text-decoration: none;
    color: #E2AD78ff;
    padding: 10px 20px;   
    border-radius: 20px;    
    display: flex;          
    align-items: center;
}

#div_link a.active {
    border: 1px solid #E2AD78ff;
    color: #ffffff;
    background-color: rgba(226, 173, 120, 0.15);
}

/*hover sui link*/
#div_link a:hover {
    border: 1px solid #E2AD78ff;
    color: #ffffff;
}

/* footer */
footer{
    color: #E2AD78ff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#link_footer_privacy{
    color: #E2AD78ff;
    text-decoration: none;
    font-size: 14px;
}
#img_logo_footer{
    height: 300px;
}

.social-links{
    color: #E2AD78ff;
    margin-top:15px; 
}

.link_social{
    color: #E2AD78ff;
    margin: 20px 15px 10px 15px; 
    font-size: 30px;
    transition: 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

#footer_info{
    display:flex;
    justify-content:center;
    gap: 50px;
    color:#E2AD78ff;
    font-size:14px;
    flex-wrap:wrap;
    text-align:center;
    margin-bottom: 50px;
}