/*--- FILE BASE CSS CON REGOLE PER NAVBAR E FOOTER---*/

body{
    margin: 0;  /*tolgo il bordo attorno*/
    background-color: #39201Eff;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;   
}

/*navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1; /*sopra l'overlay*/
}

#div_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 120px; /* Aumenta la dimensione massima, senza spostare la navbar */
    width: auto;       /* Mantieni le proporzioni corrette */ 
}

#div_login{
    display: flex;
    justify-content: right;
    align-items: center;
}

#div_login:hover{
    cursor: pointer;
}

/*icona login*/
#icona_login{
    color:#E2AD78ff;
    margin-right:20px;
    font-size:40px;
}

/*link con bordo arrotondato*/
#div_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2AD78ff;
    border-radius: 50px;
    margin-top: 20px;
}

/*stile dei singoli link*/
#div_link a {
    text-decoration: none;
    color: #E2AD78ff;
    padding: 10px 20px;   
    border-radius: 20px;    
    display: flex;          
    align-items: center;
}

/*hover sui link*/
#div_link a:hover {
    border: 1px solid #E2AD78ff;
    color: #ffffff;
}

/* footer */
footer{
    color: #E2AD78ff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#link_footer_privacy{
    color: #E2AD78ff;
    text-decoration: none;
    font-size: 14px;
}
#img_logo_footer{
    height: 300px;
}

.social-links{
    color: #E2AD78ff;
    margin-top:15px; 
}

.link_social{
    color: #E2AD78ff;
    margin: 20px 15px 10px 15px; 
    font-size: 30px;
    transition: 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

#footer_info{
    display:flex;
    justify-content:center;
    gap: 50px;
    color:#E2AD78ff;
    font-size:14px;
    flex-wrap:wrap;
    text-align:center;
    margin-bottom: 50px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

#container_top{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_comeNasce{
    background-color:#E2AD78ff;
    color:#39201Eff;
    border-radius:15px;
    text-align: center;
    font-size:20px;
    height: 220px;
    width: 800px;
}

#div_comeNasce:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

#container_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    flex-direction: column;
    width:100%;
    margin-top: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 100px auto 0;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    height: 400px;
    width:400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 18px;
    line-height: 1.5;
}

.card:hover .overlay {
    opacity: 1;
}

#div_link a.active {
    border: 1px solid #E2AD78ff;
    color: #ffffff;
    background-color: rgba(226, 173, 120, 0.15);
}